[Unit]
Description=message broker db listener
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/var/dbworker
ExecStart=/usr/bin/php /var/dbworker/db_worker.php
Restart=always
RestartSec=2

User=root
Environment=RABBITMQ_HOST=172.29.193.35
Environment=RABBITMQ_USER=odds_app
Environment=RABBITMQ_PASSWORD=Bonzi123!
Environment=RABBITMQ_VHOST=/odds

[Install]
WantedBy=multi-user.target
